* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-size: 15px;
}
img {
    width: 300px;
    border-radius: 8px;
}
.qr-code {
    background-color: hsl(0, 0%, 100%);
    padding: 14px;
    border-radius: 12px;
}
.content {
    padding: 24px 0;
}
.content h2, p {
    text-align: center;
}
.content h2 {
    font-weight: 700;
    margin-bottom: 10px;
    color: hsl(218, 44%, 22%);
}
.content p {
    font-weight: 400;
    color: hsl(216, 15%, 48%)
}
.container {
    box-shadow: 0 15px 15px hsl(216, 30%, 85%);
    border-radius: 12px;
}
